{% extends "layout.html" %}
{% block title %}Articles{% endblock %} 
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='articles.js')}}"></script>
<a href={{ url_for('add_article', project_id = project_id) }}>Add article</a>
<input type="text" id="searchbar" placeholder="Article...">
<ul id="list_of_articles">

    {% for article in articles %}
        <li class="article_post">
        	<a href={{ url_for('add_article_to_project', project_id = project_id, article_id = article[1] ) }}>{{article[0]}}</a>
        	<a href={{ url_for('article', project_id = project_id, article_id = article[1] )}}>Edit</a>
        </li>
    {% endfor %}
   
</ul>





{% endblock %}