{% extends "layout.html" %}
{% block title %}Articles{% endblock %} 
{% block content %}

    {% if article %}
        <form action={{url_for('article', article_id=article[0])}} method="post">
			<input value={{article[1]}} name='name' type=text>
			<input value={{article[2]}} name='price' type=number>
			<input value={{article[3]}} name='time' type=number>
			<input {% if article[4] %} value={{article[4]}} {% endif %} name='unit' type=text>
			<input type=submit value='Update'>
		</form>
    {% endif %}


{% endblock %}